*{
    font-family: Arial, Helvetica, sans-serif;

}


.login-element, .register-element, .venue-element {
    border-radius: 1em;
    margin: 0.5em;
   
}

.Form {

   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: stretch;
    width: 40%;
   margin: 5%;
   
 
}

.LoginPage, .RegisterPage, .VenuePage, .VenueListPage {
    display: flex;
   flex-direction: column;
  
   justify-content: center;
   align-items: center;
   margin: 15%;
}

.User-Selector{

    display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: center;
   align-items: center;
   
}

.selector-input {
    margin: 1%;
    flex-wrap: nowrap;
    display: flex;
}

.venue-list {

    width: 700px;
    border-radius: 1em;
    margin: 0.5em;
    padding: 50px;
    
    border-style: solid;


}